@{
    Layout = "_ManagerLayout";
}
@model Errand

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<!--  Render the ShowOneErrand component and pass the ID from ViewBag -->
@await Component.InvokeAsync("ShowOneErrand", ViewBag.ID)

<section id="bottomColumn">
    <form asp-controller="Manager" asp-action="SaveEmployeeOrStatus" method="post">
        <h3>Redigera ärendet</h3>
        <input type="hidden" name="errandId" value="@ViewBag.ID" />
        <p>
            Ange handläggare:
            <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.ListOfEmployees, "EmployeeId", "EmployeeName"))">
                <option value="">Välj handläggare</option>
            </select>
        </p>
        <p>
            <input type="checkbox" name="noAction" value="true" />
            Ingen åtgärd: <input asp-for="InvestigatorInfo" type="text" placeholder="Ange motivering" />
        </p>
        <p><input class="button" type="submit" value="Spara"></p>
    </form>
</section>
