<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Småstads kommun</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <h1><a asp-controller="Home" asp-action="Index" id="logo-link">Småstad</a></h1>
            <p>Kommunen där vi bryr oss om varandra</p>
        </header>
            @RenderBody()        
    </div>
</body>

</html>