@{
    Layout = "_InvestigatorLayout";
}
@model Errand

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som handläggare.</p>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<!--  Render the ShowOneErrand component and pass the ID from ViewBag -->
@await Component.InvokeAsync("ShowOneErrand", ViewBag.ID)

<section id="bottomColumn">
    <form asp-controller="Investigator" asp-action="UpdateErrandAsInvestigator" method="post" enctype="multipart/form-data">
        <h3>Redigera ärendet</h3>
        <input type="hidden" name="errandId" value="@ViewBag.ID" />

        <p class="label">Ytterligare information:</p>
        <textarea asp-for="InvestigatorInfo" rows="5" cols="60"></textarea>

        <p class="label">Händelser:</p>
        <textarea asp-for="InvestigatorAction" rows="5" cols="60"></textarea>

        <p class="label">Prover:</p>
        <input asp-for="Samples"  type="file" name="sample">

        <p class="label">Ladda upp bilder:</p>
        <input asp-for="Pictures"  type="file" name="picture">

        <p class="label">Ändring av status:</p>
        <select asp-for="StatusId" asp-items="@(new SelectList(ViewBag.ListOfStatus, "StatusId", "StatusName"))">
            <option value="">Välj status</option>
        </select>
        <p>
            <input class="button" type="submit" value="Spara ändringarna">
        </p>
    </form>
</section>
