@using EnvironmentCrime.Models.AppDb
@{
    Layout = "_InvestigatorLayout";
}
@model IEnvironmentCrimeRepository
@{
    string? statusFilter = null;
    string? departmentFilter = null;
    string? employeeFilter = null;
    string? caseNumberFilter = null;

    if (Context.Request.HasFormContentType)
    {
        var form = Context.Request.Form;

        statusFilter = form["status"].FirstOrDefault();
        caseNumberFilter = form["casenumber"].FirstOrDefault();

    }
    var errands = Model.FilteredErrands("investigator", statusFilter, departmentFilter, employeeFilter, caseNumberFilter);
}

<h2>Ärenden</h2>
<p class="info">Du är inloggad som handläggare.</p>
<form method="post">
    <table id="investigatorForm">
        <tr>
            <td class="label">Välj status:</td>
            <td>&nbsp;</td>
            <td class="label">Ärendenummer:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <select name="status">
                    <option selected="selected">Välj alla</option>
                    @foreach (var errandStatuses in Model.ErrandStatuses)
                    {
                        <option value="@errandStatuses.StatusName">@errandStatuses.StatusName</option>
                    }
                </select>
            </td>
            <td><input class="button" type="submit" value="Hämta lista"></td>
            <td><input name="casenumber"></td>
            <td><input class="button" type="submit" value="Sök"></td>
        </tr>
    </table>
</form>
<!--Errand list-->
@await Component.InvokeAsync("ErrandList", new {
role = "investigator",
    statusFilter,
    departmentFilter,
    employeeFilter,
    caseNumberFilter
})
