@{
    Layout = "_CitizenLayout";
}
<h2>Du har inte behörighet att visa denna sida.</h2>
<button class="btn btn-warning"><a class="nav-link" asp-controller="Account" asp-action="Login">Inloggning</a></button>