@model LoginModel
@{
    Layout = "_CitizenLayout";
}

<section id="mainColumn">
    <h2>Inloggning för Småstads personal</h2>
    <p class="info">En säker tjänst från Småstads IT-avdelning</p>

    <form asp-controller="Account" asp-action="Login" method="post">
        <div>
            <label asp-for="UserName" class="label"></label>
            <br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Password" class="label"></label>
            <br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <p>
            <input type="hidden" asp-for="ReturnUrl" />
        </p>
        <p>
            <input class="button" type="submit" value="Logga in" />
        </p>
        <div asp-validation-summary="All"></div>
    </form>
</section>
