@{
    Layout = "_CoordinatorLayout";
}
@model Department

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<!--  Render the ShowOneErrand component and pass the ID from ViewBag -->
@await Component.InvokeAsync("ShowOneErrand", ViewBag.ID)

<section id="bottomColumn">
    <form asp-controller="Coordinator" asp-action="SaveDepartment" method="post">
        <h3>Redigera ärendet</h3>
        <input type="hidden" name="errandId" value="@ViewBag.ID" />
        <p>
            Ange enhet:
                <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.ListOfDepartments, "DepartmentId", "DepartmentName"))">
                    <option value="">Välj avdelning</option>
                </select>
        </p>
        <p><input class="button" type="submit" value="Spara"></p>
    </form>
</section>

