@{
    Layout = "_CoordinatorLayout";
}
@model IEnumerable<Department>

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<!--  Render the ShowOneErrand component and pass the ID from ViewBag -->
@await Component.InvokeAsync("ShowOneErrand", ViewBag.ID)

<section id="bottomColumn">
    <form asp-controller="Coordinator" asp-action="SaveDepartment" method="post">
        <h3>Redigera ärende</h3>
        <input type="hidden" name="errandId" value="@ViewBag.ID" />
        <p>
            Ange enhet:
            <select name="choosenDepartment">
                <option value="">Välj</option>
                @foreach (var department in Model)
                {  @if (department.DepartmentName != "Småstads kommun")
                    {
                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                    }
                }
            </select>
        </p>
        <p><input class="button" type="submit" value="Spara"></p>
    </form>
</section>

