@{
    Layout = "_CoordinatorLayout";
}

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@await Component.InvokeAsync("ShowOneErrand", ViewBag.ID)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p>
        Ange enhet:
        <select name="department">
            <option selected="selected">Välj alla</option>
            @foreach (var department in Model.Departments)
            {
                <option value="@department.DepartmentId">@department.DepartmentName</option>
            }
        </select>
    </p>
    <p><input class="button" type="submit" value="Spara"></p>
</section>
